.badgezoom {
  animation: badgezoom 1s infinite;
}

@keyframes badgezoom {
  0% {
    width: 35px;
    height: 35px;
  }
  50% {
    width: 40px;
    height: 40px;
  }
  100% {
    width: 35px;
    height: 35px;
  }
}
