textarea {
  resize: none;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "segoe ui", Roboto,
    Helvetica, Arial, sans-serif;
}

.ql-toolbar.ql-snow {
  background: #00030c;
  border: 1.5px solid #05114c;
  border-radius: 8px 8px 0px 0px;
}

.ql-container.ql-snow {
  color: #ffffff;
  border: 1.5px solid #05114c;

  border-radius: 0px 0px 8px 8px;
}
.quill > .ql-container > .ql-editor {
  min-height: 250px;
  resize: vertical;
}
.quill > .ql-container > .ql-editor.ql-blank::before {
  font-size: 0.8rem;
  color: #252833;
  font-style: normal;
}
