.tableFixHead {
  overflow: auto;
  height: "auto";
  width: "auto";
  scroll-behavior: smooth;
}

.tableFixHead table {
  border-collapse: collapse;
  width: 100%;
}

.tableFixHead th,
.tableFixHead td {
  padding: 8px 16px;
  z-index: 0;
}

/* td:first-child {
  position: sticky;
  left: 0;
  z-index: 1;
  background-color: #010822;
} */
/* th:first-child {
  position: sticky;
  left: 0;
  z-index: 1;
  background-color: #000000;
} */
.tableFixHead td:nth-child(2) {
  position: sticky;
  left: 0px;
  z-index: 1;
  background-color: #010822;
}
.tableFixHead th:nth-child(2) {
  position: sticky;
  left: 0px;
  z-index: 1;
  background-color: #000000;
}

.tableFixHead td:nth-child(3) {
  position: sticky;
  left: 60px;
  z-index: 1;
  background-color: #010822;
  box-shadow: inset -4px 0 4px -2px #081444;
  -webkit-box-shadow: inset -4px 0 4px -2px #081444;
}
.tableFixHead th:nth-child(3) {
  position: sticky;
  left: 60px;

  background-color: #000000;
}

.tableFixHead th {
  position: sticky;
  top: 0;
  background: #000000;
  z-index: 0;
}
/* th:first-child, */
.tableFixHead th:nth-child(2),
.tableFixHead th:nth-child(3) {
  z-index: 2;
  background-color: #000000;
}

.arrow_blink {
  animation: blink 1s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 0.3;
    left: 0;
  }
  25% {
    opacity: 0.6;
    left: 2px;
  }
  50% {
    opacity: 1;
    left: 3px;
  }
}
